---
import { MATERIAL_LABELS } from '@/lib/constants';
import Icon from '@/components/icons/Icon.astro';
import type { CutMaterialKey } from '@/types/catalog';

interface Props {
  materials: CutMaterialKey[];
}

const { materials } = Astro.props;
---
<div class="mat-row">
  {materials.map((key) => (
    <div class="mat-cell">
      <span class="mic"><Icon name={key} size={22} /></span>
      <span class="mn">{MATERIAL_LABELS[key]}</span>
    </div>
  ))}
</div>
