---
import '@/styles/print.css';
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Lames de scie sauteuse Makita - Guide emmanchement T</title>
  </head>
  <body>
    <slot />
  </body>
</html>
