---
import '@/styles/print.css';
import { catalogMeta } from '@/data/catalog-meta';

interface Props {
  title?: string;
}

const { title = catalogMeta.title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
